<div class="container">
    <div class="row">
        <div class="clinicbox">
         
            <img _ngcontent-fwi-c2="" src="https://s3-alpha-sig.figma.com/img/1724/6d59/4570f5a34c8cdaa30e56d3ff79f8840e?Expires=1681084800&amp;Signature=UvOFjMs5ba-PpkdnDnz0BrbjKutO5IeREWb-Oje0~wWRHIGX-nryRY-cOTRcEsUkGH3kgNwnNdJScglOHptpFbg~CaGjXqya8-fc~wpS3ghJeYYJwmb13pUq0E86NMSRTo0KsgztkEPrsV~vl2ubM2jiFISXd5Fw6DFSYwB4iBJQdtMvJL4ywy7rHwrSs2XZYPNjV4tQWVc~nU~lClU5lXLmS~pnT~KgrpP-73s1zJxoJMrUteSJHkDV~CZqe23luAy~qIXorWSsvKH~Ok4Gtpks3DerxJ8avQwMfI4BhQEiwjTu2aj-~5PXaD1JpMKMwJ1qMkYkCkhbLIX197byww__&amp;Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
                
                <span>კლინიკა</span>     
        </div>
    </div>
   
    <div class="mainbox">
        <div class="ulist">
            <ul>
                

                    <span class="spanitems">ინფორმაცია</span>
             
                <li class="liitems">ჩვენ შესახებ</li>
                <li class="liitems">პარტნიორები</li>
                <li class="liitems">ექიმებისთვის</li>
                <li class="liitems">კლინიკებისთვის</li>
                <li class="liitems">აფთიაქებისთვის</li>
            </ul>
            
        </div>
        <div class="ulist">
            <ul>
               

                    <span class="spanitems">ინფორმაცია</span>
               
                <li class="liitems">ექიმები</li>
                <li class="liitems">კლინიკები</li>
                <li class="liitems">ანოტაციები</li>
                <li class="liitems">ბლოგი</li>
                <li class="liitems">მედია</li>
            </ul>
            
        </div>
        <div class="ulist">
            <ul>
                <span class="spanitems">პაციენტებისთვის</span>
                <li class="liitems">სამუშაო დღეები: ორშ - პარ</li>
                <li class="liitems">სამუშაო დრო: 9:00 - 17:00</li>
                <li class="liitems">იაკობ ნიკოლაძის N 10</li>
                <li class="liitems">032 2 100 100</li>
              
            </ul>
            
        </div>
        <div class="ulist">
            <ul>
                <span class="spanitems">კონტაქტი</span>
                <li class="liitems">ჩვენ შესახებ</li>
                <li class="liitems">პარტნიორები</li>
                <li class="liitems">ექიმებისთვის</li>
                <li class="liitems">კლინიკებისთვის</li>
                <li class="liitems">აფთიაქებისთვის</li>
            </ul>
            
        </div>
        <div class="ulist">
            <ul>
                <span class="spanitems">გამოგყვევით</span>
                <li class="liitems">Facebook</li>
                <li class="liitems">Instagram</li>
                <li class="liitems">Youtube</li>
             
            </ul>
            
        </div>

    </div>
    
</div> 
